<div class="login-container">
  <div class="container-header">login</div>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <led-input
        [type]="'text'"
        [placeholder]="'email'"
        formControlName="email"
      ></led-input>
    </div>

    <div>
      <led-input
        [type]="'password'"
        [placeholder]="'password'"
        formControlName="password"
      ></led-input>
    </div>

    <div>
      <button
        class="form-submit-button"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        <fa-icon [icon]="faRightToBracket"></fa-icon>
      </button>
    </div>
  </form>
</div>
