.login-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .container-header {
    font-size: 2rem;
    font-weight: 700;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .form-submit-button {
      height: 38px;
      width: 100%;

      fa-icon {
        font-size: 1.25rem;
      }
    }
  }
}
