.login-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .container-header {
    font-size: 2rem;
    font-weight: 700;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .form-submit-button {
      width: 100%;
    }
  }

  .signup-container {
    display: flex;
    flex-direction: row-reverse;

    .signup-link {
      color: #33b7e4;
      font-size: 0.75rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
