@import "./styles/global_colors.scss";

.top-bar {
  align-items: center;
  background-color: $topbar_background;
  color: $topbar_text;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .home-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;

    .home-icon {
      color: $highlight;
      font-size: 2rem;
    }

    .home-text {
      font-size: 1.25rem;
    }
  }

  .logout-container {
    cursor: pointer;
  }
}
