.top-bar {
  align-items: center;
  background-color: #222222;
  color: #f5f5f5;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;

  fa-icon {
    color: #33b7e4;
    font-size: 2rem;
  }

  span {
    font-size: 1.25rem;
  }
}
