.auth-home-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 53px);
  justify-content: space-between;

  .auth-home-content {
    align-items: center;
    color: #777777;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
    justify-content: center;

    .auth-content-header {
      font-size: 2rem;
    }

    .auth-content-text {
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .action-buttons {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-bottom: 5rem;

    .action-button {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .button-icon {
        color: #33b7e4;
        font-size: 2rem;
      }

      .button-label {
        color: #7c7c7c;
      }
    }
  }
}
